@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family:'Kanit';
}

:root {
    --fundo_cor: rgb(56, 51, 51);
    --palavras_cor: #c0c0c0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    background-color: var(--fundo_cor);
    border-bottom: 4px solid rgb(36, 34, 34);
    color: var(--palavras_cor);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
}

.lista ul{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.lista li {
    border-bottom: 2px solid var(--palavras_cor);
    list-style: none;
    cursor: pointer;
}

.titulo {
    font-size: 30px
}

nav input{
    width: 300px;
    color: var(--palavras_cor);
    padding: 13px 8px;
    border-radius: 13px 0px 0px 13px;
    outline: none;
    border: 1px solid var(--palavras_cor);
    background-color: var(--fundo_cor);
}

nav button {
    cursor: pointer;
    padding: 13px 8px;
    border: 1px solid var(--palavras_cor);
    background-color: var(--palavras_cor);
    border-radius: 0px 13px 13px 0px;
}

/*Section*/

section {
    height: 86vh;
    padding-top: 100px;
}

.container_calculator {
    background-color: #c0c0c0;
    padding: 10px;
    border-radius: 15px;
}

.resposta {
    margin: 20px 0px 20px 0px;
    padding: 6px 12px;
    background-color: white;
    text-align: end;
    border-radius: 5px;
}

table button {
    border: none;
    border-radius: 5px;
    width: 60px;
    margin: 3px;
    padding: 20px;
    font-size: 20px;
}

.title_calculator {
    text-align: start;
    font-weight: 10px;
    font-size: 10px;
}
/*footer*/

footer {
    border-top: 4px solid rgb(36, 34, 34);
    width: 100%;
    color: var(--palavras_cor);
    background-color: var(--fundo_cor);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 65%;
    padding: 25px 0px;
}
